@import "tailwindcss";
@import "./theme.css";
@source "../node_modules/flowbite";


html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

.shadow-header {
  box-shadow: 0px 2px 16px hsla(0, 0%, 0%, .5);
}