@import "tailwindcss";
@import "./theme.css";

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.shadow-header {
  box-shadow: 0px 2px 16px hsla(0, 0%, 0%, .5);
}