---
const navLinks = [
  { name: "Principal", href: "#home" },
  { name: "Sobre mí", href: "#about" },
  { name: "Proyectos", href: "#projects" },
];
---

<footer class="pt-20 px-8 pb-4">
  <div
    class="grid justify-center gap-y-8 mx-4 lg:mx-auto max-w-280 pt-10 pb-8 lg:grid-cols-[1fr_2fr_1fr] lg:items-center"
  >
    <span
      class="text-h1-size font-semibold mb-4 font-title text-center transition-colors hover:text-main lg:text-h2-size lg:justify-self-start lg:mb-0 cursor-default"
      >Alejandro</span
    >

    <div class="justify-self-center flex justify-center flex-wrap gap-8 lg:flex-nowrap">
      {
        navLinks.map((link) => (
          <a
            href={link.href}
            class="font-title relative text-white text-center font-medium hover:text-main"
          >
            {link.name}
          </a>
        ))
      }
    </div>
    <div class="flex justify-center gap-8 lg:justify-self-end">
      <a
        href="https://www.linkedin.com/in/alejandro-arguello-duarte/"
        target="_blank"
        class="link text-white text-2xl lg:text-4xl"
      >
        <i class="ri-linkedin-box-fill"></i>
      </a>
      <a
        href="https://github.com/Alejandro-44"
        target="_blank"
        class="link text-white text-2xl lg:text-4xl"
      >
        <i class="ri-github-fill"></i>
      </a>
    </div>
  </div>
</footer>
<style>
  @import "../styles/theme.css";

  .link {
    transition:
      transform 0.4s,
      color 0.4s;
  }

  .link:hover {
    transform: translateY(-0.25rem);
    color: var(--color-main);
  }
</style>
