---
import Button from "./Button.astro";
---

<section class="pt-20 pb-4" id="home">
  <div
    class="grid gap-8 justify-center mx-4 lg:mx-auto max-w-280 pt-10 pb-8 md:grid-cols-[350px_350px] md:items-center lg:grid-cols-[400px_480px] xl:gap-28 "
  >
    <div class="relative justify-self-center">
      <div
        class="home__image size-50 md:size-60 bg-white rounded-full overflow-hidden flex items-end justify-center border-[5px] lg:border-8 border-main lg:size-100"
      >
        <img
          src="img/yo.png"
          alt="Home"
          class="home__img size-42.5 md:w-60 lg:w-85"
        />
      </div>
      <div
        class="home__social absolute top-0 -left-8 bottom-0 grid content-center gap-6 lg:-left-12"
      >
        <a
          href="https://www.linkedin.com/in/alejandro-arguello-duarte/"
          target="_blank"
          class="home__link text-white text-2xl lg:text-4xl"
        >
          <i class="ri-linkedin-box-fill"></i>
        </a>
        <a
          href="https://github.com/Alejandro-44"
          target="_blank"
          class="home__link text-white text-2xl lg:text-4xl"
        >
          <i class="ri-github-fill"></i>
        </a>
      </div>
    </div>
    <div class="grid text-center mx-4 lg:text-left md:mx-0">
      <p>
        Hi, I'm a <span class="text-main" id="home-typed">Web Developer</span>
      </p>
      <h1 class="text-bigger-size">Alejandro Argüello</h1>
      <p class="home__description">
        I'm a web developer with a passion for creating beautiful and functional
        websites. I'm always looking for new ways to improve my skills and
        create something that will make a difference in the world.
      </p>
      <div class="flex flex-wrap justify-center gap-2 mt-8">
        <Button href="pdf/AlejandroArguello_CV_ES.pdf" download
          >Download CV</Button
        >
        <Button href="#projects" variant="ghost">Projects</Button>
      </div>
    </div>
  </div>
</section>
<style>
  .home__image {
    box-shadow: 0 8px 32px hsla(var(--hue), 80%, 48%, 0.3);
  }

  .home__img {
    filter: drop-shadow(0 4px 16px hsla(0, 0%, 0%, 0.1));
  }

  .home__link {
    transition: transform 0.4s, color 0.4s;
  }

  .home__link:hover {
    transform: translateY(-0.25rem);
    color: var(--color-main);
  }
</style>
