---
import { experiences } from "../constants";
---

<section class="pt-20 pb-4" id="resume">
  <div class="grid gap-16 justify-center mx-4 lg:mx-auto max-w-280 pt-10 pb-8">
    <h2 class="text-h1-size text-main font-bold text-center">Currículum</h2>
    <ol class="relative border-s-2">
      {
        experiences.map((experience) => (
          <li class="mb-10 ms-4">
            <div class="absolute size-3 bg-main rounded-full mt-1.5 -left-[7px] border border-buffer" />
            <time class="text-sm font-normal leading-none capitalize text-gray-400">
              {experience.startDate.toLocaleDateString("es-CO", {
                month: "long",
                year: "numeric",
              })}
              {" - "}
              {experience.endDate.toDateString() === new Date().toDateString()
                ? "Presente"
                : experience.endDate.toLocaleDateString("es-CO", {
                    month: "long",
                    year: "numeric",
                  })}
            </time>
            <h3 class="text-lg font-semibold text-heading my-2">
              {experience.role} <span class="text-main">@</span>{" "}
              {experience.company}
            </h3>
            <p class="mb-4 text-base font-normal whitespace-pre-wrap">
              {experience.description}
            </p>
          </li>
        ))
      }
    </ol>
  </div>
</section>
